$error-color: #ff0000;
$bg-color: #ffffff;
$text-color: #ccc;
$form-color: #f3994a;
$success-color: #008000;

.containers {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  justify-content: center;
  padding: 0;
  width: 100%;
  z-index: 1000;

  .verified {
    padding: 3rem;
    height: 140px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 2140px;
    padding: 0;
  }

  .bg-image {
    background: url("../../assets/images/background.jpg") center center no-repeat;
    background-size: cover;
    display: block;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1000;
  }

  .card-text {
    color: $text-color;
    margin-bottom: 20px;
    text-align: center;
  }
}
