{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true
    },
    "esversion": 6,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": 0,
    "function-paren-newline": ["error", "multiline"],
    "jsx-a11y/anchor-is-valid": 0,
    "object-curly-newline": ["error", { "consistent": true }]
  }
}