.b-button {
  background-color: $form-color;
  border-radius: $m-radius;
  color: $white;
}
.b-button {
  background-color: $form-color;
  border-radius: $m-radius;
  color: $white;
  cursor: pointer;
  padding: 14px;
  width: 100%;
}
.sign-form .b-button:active,
.sign-form .b-button:focus {
  background-color: $form-color;
  border-color: $form-color;
  box-shadow: none;
}
