
.input {
 border: 0.5px solid $border;
 border-radius: $m-radius;
 margin: auto;
 padding: 0.6rem;
 width: 100%;
}
.input:active,
.input:focus,
.input:focus-within {
 border: 0.5px solid $form-color;
 outline-color: $form-color;
}

.form-control {
 width: 90%;
}

::-webkit-input-placeholder {
 font-size: 12px;
}