$error-color: #ff0000;
$bg-color: #ffffff;
$text-color: #ccc;
$form-color: #f3994a;
$success-color: #008000;

.containers {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  justify-content: center;
  padding: 0;
  width: 100%;
  z-index: 1000;

  @media screen and (min-width: 1200px) {
    max-width: 2140px;
    padding: 0;
  }

  .error {
    color: $error-color;
    text-align: left;
  }

  .success {
    color: $success-color;
    margin-bottom: 3px;
    text-align: center;
  }

  .bg-image {
    background: url("../../assets/images/background.jpg") center center no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1000;
  }

  .card-subtitle {
    margin-bottom: 20px;
    text-align: center;

    .FontAwesomeIcon {
      font-size: 50px;
    }
  }

  .card-text {
    color: $text-color;
    margin-bottom: 20px;
    text-align: center;
  }

  .forgot {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .form-group {
    margin-bottom: 10px;
    position: relative;
  }

  .icon {
    display: block;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 10px;
    z-index: 1000;
  }

  .form-control {
    box-sizing: border-box;
    border: 0;
    border: 1px solid $text-color;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    height: 40px;
    margin: auto;
    outline: 0;

    &:focus {
      border-color: $form-color;
    }
  }
  .card-body {
    padding: 1.5rem;
    height: 400px;
    width: 400px;

    Button.buttons[type=button] {
      background-color: $form-color;
      border: 0;
      border-radius: 5px;
      color: $bg-color;
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
      height: 40px;
      outline: none;
      text-align: center;
      transition: 0.2s;
      width: 100%;

      &:hover {
        background-color: $form-color;
        opacity: 0.6;
      }
      &:focus {
        background-color: $form-color;
        box-shadow: none;
      }
    }
  }
}
