$base-color: #5f3518;
$white: #fff;
$text-color: #3f3d3c;

.m-container {
  width: 100%;
}

.m-container div .card{
  margin:0;
  position: unset;
  height: 20rem;
  width: 19rem;
  box-shadow: 0 0 4px rgba(54, 52, 52, 0.4);
  cursor: pointer;
}

.m-intro {
  padding-left: 4rem;
  margin-bottom: 4rem;
}

.take-course{
  margin: 5rem auto;
  width: 10rem;
}
.take-course .btn {
  background: $white;
  color: $text-color;
  border: 2px solid $base-color;
  font-size: 1rem;
  border-radius: 2px;
}
.take-course .btn:hover {
  background: $base-color;
  box-shadow: 0 0 4px rgba(54, 52, 52, 0.4);
}
.m-c-title .card-title {
  font-weight: bolder;
  text-align: center;
}

.m-c-title .card-subtitle{
  font-weight: 450;
}
.m-c-title .card-text{
  color: #666262;
  margin-bottom: 2rem;
}