.userProgress {
    height: 80px;
    top: 153px;
    margin-top: 25px;
    background: #e9ecef;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    border-radius: 5px;
    h5 {
      text-align: center;
      margin-top: 25px;
    }
    
    .expTime {
      color: red;
    }
    button {
      width: 8rem;
      margin-left: 20px;
      background: #5f3518;
  
      &:hover {
        background: #ab754f
      }
    }

    .arrowIcon {
      margin-left: 20px;
      cursor: pointer;
      color: black;

      &:hover {
        color: #ab754f
      }
    }
  }