html {
  color: #6d6666;
}
.sec-signup {
  width: 100%;
  background-image: linear-gradient(rgba(5, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../../assets/images/signupbg.jpg');
  background-size: cover;
  margin: auto;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 3%;
}
.signup-box {
  width: 60%;
  background-color: #ffffff;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  padding: 5%;
}

.navbar {
  background-color: #5f3518 !important;
}
.firstname,
.lastname,
.email,
.password,
.cpassword {
  margin: 10%;
  border: 0.5px solid #707070;
  width: 80%;
  padding: 6%;
}
.boxx-tex {
  margin-bottom: 5%;
}
.inf {
  margin-bottom: 1.5rem;
}
.input {
  margin: auto;
}
.btnSubmit {
  width: 80%;
  background-color: #f2994a;
  border-radius: 5px;
  border: 0.5px solid #f2994a;
  padding: 4%;
}
.btnSubmit:hover,
.btnSubmit:active,
.btnSubmit:focus {
  background-color: #f2994a;
  border: 0.5px solid #f2994a;
}
.btnSubmit:hover {
  opacity: 0.6;
}
