$backgroundcolor:rgba(5, 0, 0, 0.7), rgba(0, 0, 0, 0.7);

.sec-signup {
  background-image: linear-gradient($backgroundcolor),
    url('../src/assets/images/signupbg.jpg');
  background-size: cover;
  margin: auto;
  width: 100%;
}

.container-s {
  margin: auto;
  padding: 0 15px;
  padding-bottom: 3%;
  padding-top: 3%;
  width: 1200px;

  a {
    color: inherit;
  }
}

.signup-box {
  background: $white;
  border-radius: $m-radius;
  margin: auto;
  padding-top: 2%;
  text-align: center;
  width: 400px;
  margin-top: 44px;

  @media screen and (max-width: 420px) {
    width: 300px;
  }
}

a.font {
  width: 30%;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
  :hover {
    color: $form-color;
  }
}

.boxx-tex {
  margin-bottom: 3%;
}

.inf {
  margin-bottom: 1.5rem;
}
.input{
  color: $auth-color;
}

.sign-form .b-button,
.input {
  margin: auto;
}


.sign-form .b-button {
  background-color: $form-color;
  border: 0.5px solid $form-color;
  padding: 3.5%;
}

.sign-form .b-button:hover,
.sign-form .b-button:active,
.sign-form .b-button:focus {
  background-color: $form-color;
  border: 0.5px solid $form-color;
}

.sign-form .b-button:hover {
  opacity: 0.6;
}

.logo {
  margin-top: 2%;
}

.feedbackk,
.feedback {
  color: $error-color;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-bottom: 0;
  padding-left: 0.4rem;
  padding-right: 0;
  padding-top: 0.3rem;
  text-align: left;
}

.feedbackk {
  margin-bottom: 2%;
  text-align: center;
}

.btm {
  text-align: center;
  a:hover {
    color: $form-color;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(54, 52, 52, 0.4);
  }
  a:focus{
    outline: none;
  }

  a {
    color: $auth-color;
    font-weight: normal;
  }
  a.sign-up {
    color: $form-color;
    font-size: 15px;
    padding: 3px;
  }

  .mid {
    padding: 0 3%;
  }
}

.card-body {
  padding: 1.5rem;
}

.acct,
.soc-media {
  color: $auth-color;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 5%;
  margin-top: 0.8%;
}
