// colors
$base-color: #5f3518;
$white: #fff;
$black: #000; 
$sidebar-links-color: #8f5806;
$off-white: rgba(255, 255, 255, 0.90);
$error-color: #ff0000;
$text-color: #ccc;
$form-color: #f3994a;
$success-color: #008000;
$border: #707070;
$module-card-shadow: rgba(54, 52, 52, 0.4);
$dark-brown-color: #523304;
$sidebar-background: #f8f8f8;
$altbgcolor: #f4f4f4;
$auth-color: #6d6666;


// radius
$m-radius: 4px;
$s-radius: 2px;



