$base-color: #ffffff;

.c-card {
  background: $base-color;
  border-radius: 5px;
  height: 400px;
  margin: auto;
  width: 400px;
  z-index: 1000;

  @media screen and (max-width: 420px) {
    width: 300px;
  }
}
