$base-color: #5f3518;
$white: #fff;
.navStyle {
    background: $base-color;
    color: $white;
    .navBrand {
      color: $white;
      display: inline-block;
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      font-size: 1.5em;
      &:hover {
        text-decoration: none;
      }
    }
    .buttonStyle {
      background: $base-color;
      box-sizing: border-box;
      border-radius: 4px;
      border: 0;
      margin-right: 10px;
      &:hover {
        background: $base-color;
      }
    }
}
