.navStyle {
    background: #5f3518;
    color: white;
    .navBrand {
      color: #ffffff;
      display: inline-block;
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      font-size: 1.5em;
      &:hover {
        text-decoration: none;
      }
    }
    .buttonStyle {
      background: #5f3518;
      box-sizing: border-box;
      border-radius: 4px;
      border: 0;
      margin-right: 10px;
      &:hover {
        background: #775945;
      }
    }
  }