.biography {
    margin: 22px 7px 0px 7px;
    text-align: center;
    color: #b4b1b1;
  }
  
.profileImage {
    text-align: center;

    img {
      margin-top: 1rem;
      width: 191px;
      height: 190px;
      border-radius: 50%;
    }
    svg {
      &:hover {
        color: black;
        cursor: pointer;
      }
      position: absolute;
      top: 32px;
      left: 176px;
      font-size: 25px;
      color: #666666;
    }

    .spinner-position {
      position: absolute;
      left: 88px;
      top: 80px;
      height: 64px;
    }
  }
  
  .profileDetails {
    text-align: center;
    .email {
      color: #c4c4c4;
    }
  }
  hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    );
  }
  .social-details {
    position: absolute;
    bottom: 100px;
    left: 60px;

    svg {
      font-size: 1.5rem;
      margin-right: 24px;
      cursor: pointer;
      color: #5f3518;

      &:hover {
        color: cornflowerblue;
      }
    }
  }

