$error-color: #FF0000;
$bg-color: #ffffff;
$text-color: #ccc;
$form-color: #f3994a;

.container {
	height: calc(100vh);
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	z-index: 1000;
	flex-direction: column;
	padding: 0;

	.error {
		color: $error-color;
		text-align: left;
	}

	.success {
		color: green;
		text-align: left;
	}

	.bg-image {
		background: url("../../assets/images/background.jpg") center center no-repeat;
		/* Add the blur effect */

		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);

		/* Full height */
		height: 100%;

		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: fixed;
		z-index: 1;
		display: block;
		left: 0;
		right: 0;
	}
   .footer-container {
		 z-index: 1000;
	 }

	.card-body {
		padding: 1.5rem;
	}

	.card-subtitle {
		text-align: center;
		margin-bottom: 20px;

		.fa-lock {
			font-size: 50px;
		}
	}

	.card-text {
		text-align: center;
		margin-bottom: 20px;
		color: #ccc;
	}

	.forgot {
		font-size: 20px;
		line-height: 20px;
		text-align: center;
		margin-bottom: 20px;
	}

	.form-group {
		margin-bottom: 10px;
		position: relative;
	}

	.icon {
		position: absolute;
		right: 10px;
		height: 40px;
		line-height: 40px;
		display: block;
		z-index: 1000;
	}

	.form-control {
		box-sizing: border-box;
		width: 100%;
		height: 40px;
		padding: 5px 10px;
		display: block;
		margin: auto;
		border-radius: 5px;
		font-size: 16px;
		border: 0;
		border: 1px solid #ccc;
		outline: 0;
		transition: 0.2s;

		&:focus {
			border-color: #f27c4a;
		}
	}

	.button {
		width: 100%;
		height: 40px;
		border: none;
		text-align: center;
		display: block;
		font-size: 16px;
		border-radius: 5px;
		color: #fff;
		background-color: #f27c4a;
		cursor: pointer;
		font-weight: 400;
		transition: 0.2s;
		outline: none;
		box-shadow: none;

		&:hover {
			box-shadow: none;
			background-color: $form-color !important;
			border-color: $form-color  !important;
			box-shadow: none !important;
			opacity: 0.6;
		}
		&:focus {
			box-shadow: none;
			background-color: $form-color  !important;
			border-color: $form-color  !important;
			box-shadow: none !important;
		}

	}

@media screen and (min-width: 500px) {
	max-width: 100%;
}
}
