.container {
	height: calc(100vh);
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	z-index: 1000;

	.error {
		color: red;
		text-align: center;
	}

	.success {
		color: green;
		text-align: center;
	}

	.bg-image {
		background: url("../../assets/images/background.jpg") center center no-repeat;
		/* Add the blur effect */

		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);

		/* Full height */
		height: 100%;

		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: fixed;
		z-index: 1;
		display: block;
		left: 0;
		right: 0;
	}

	

	.card {
		width: 400px;
		height: 400px;
		background: #ffffff;
		border-radius: 5px;
		margin: auto;
		z-index: 1000;

		@media screen and (max-width: 420px) {
			width: 300px;
		}
	}

	.card-body {
		padding: 1.5rem;
	}

	.card-subtitle {
		text-align: center;
		margin-bottom: 20px;

		.fa-lock {
			font-size: 50px;
		}
	}

	.card-text {
		text-align: center;
		margin-bottom: 20px;
		color: #ccc;
	}

	.forgot {
		font-size: 20px;
		line-height: 20px;
		text-align: center;
		margin-bottom: 20px;
	}

	.form-group {
		margin-bottom: 10px;
		position: relative;
	}

	.icon {
		position: absolute;
		right: 10px;
		height: 40px;
		line-height: 40px;
		display: block;
		z-index: 1000;
	}

	.form-control {
		box-sizing: border-box;
		width: 100%;
		height: 40px;
		padding: 5px 10px;
		display: block;
		margin: auto;
		border-radius: 5px;
		font-size: 16px;
		border: 0;
		border: 1px solid #ccc;
		outline: 0;
		transition: 0.2s;

		&:focus {
			border-color: #f27c4a;
		}
	}

	.buttons {
		width: 100%;
		height: 40px;
		border: 0;
		line-height: 40px;
		text-align: center;
		display: block;
		font-size: 16px;
		border-radius: 5px;
		color: #fff;
		background-color: #f27c4a;
		cursor: pointer;
		font-weight: 400;
		transition: 0.2s;
		outline: 0;

		&:hover {
			background: darken(#f27c4a, 20%);
		}
	}
}
