$primary: #5f3518;
$white: #fff;

.v-container {
  ymin-height: 90vh;
  color: #444;
  line-height: 1.5;
  padding: 0 100px;

  .v-sidebar {
    margin: auto;
    margin-top: 10;
    padding: 0px 8px;
    height: auto;
  }

  .m-row {
    min-height : 100%;
  }

  .module-main {
    padding: 50px;
  }
  .loader {
    width: 100%;
    text-align: center;
  }

  .module-content {
    margin-top: 50px;

    .content-header {
      font-size: 23px;
      margin-bottom: 20px;
    }
    l {
      margin-bottom: 20px;
      padding: 10px 0;
      text-align: center;
    }
    .module-content-items {

      .content-item {
        margin: 0px 0px 25px;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.6);

        &:hover {
          border: solid #f3994a 2px;
        }
        a {
          text-decoration: none;
          color: #f3994a;
          font-size: 18px;



          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }

  .test-button {
    width: 160px;
    background: $white;
    border: solid 2px $primary;
    color: $primary;
    margin-top: 50px;

    &:hover {
      background: $primary;
      color: $white;
    }
  }
}
