.footer-container {
  background: $base-color;
  color: $white;
  height: 100px;
  padding: 20px;
  position: relative;
  width: 100%;
}

.footer-links .flink {
  color: $white;
  padding: 5px 10px;
}

.footer-links .flink:hover {
  color: $off-white;
  text-decoration: none;
}

.footer-div {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

.rights {
  position: relative;
  text-align: center;
}
