.content-item {
  margin: 0px 0px 25px;
  cursor: pointer;
  padding: 10px;
  border-radius: $m-radius;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.6);

  &:hover {
    border: solid $form-color 2px;
  }
  a {
    text-decoration: none;
    color: $form-color;
    font-size: 18px;

    p {
      margin: 0;
      padding: 0;
    }
  }
}
