$base-color: #5F3518;
$white: #fff;


.landing-container {
    height: 100vh;
    position: relative;
}
.slide-container{
    height: 90vh;
    background: #000;
}


.iconsHolder{
    height: 120px;
    background: $base-color;
    z-index: 20;
    width: 100%;
    position: absolute;
    top: 60%;
    display: flex;
}
.icons{
    flex: 1;
    text-align: center;
    margin-top: 10px;
    color: $white;
    font-size: 15px;
    width: 30px;
    padding-top: 10px;
}
.icons Span{
    font-size: 12px;
    padding-left: 4px;
}
img.info{
    filter: invert(100%) sepia(13%) saturate(7500%) hue-rotate(197deg) brightness(116%) contrast(116%);
}
.desc-container{
    position: absolute;
    top: 75%;
    z-index: 25;
}

.about-us, .howitworks{
   
    background: $white;
    width: 100%;
    position: relative;
    padding-bottom: 10px;
}

.hiw-content {
    background: $base-color;
    padding: 20px;
    
}
.hiw-card-content.card {
    background: $base-color;
}


.hiw .hiw-card{
    border: none;   
}
.hiw-card .card-body{
    color: $white;
    
}
.hiw-card .card-body .card-title{
    text-align: center;
}
.hiw-card .card-body .card-title h1{
    font-size: 40px;
    text-align: left;
}
.hiw .hiw-card-img,.hiw .test-card-img{
    border-radius: 0;
    height: 200px;
}

.hiw-card .hiw-button{
    background: $base-color;
    border: 2px solid $white
}

.slide-container .hwu{
    width: 70%;
    position: absolute;
    left: 15%;
    top: 25%;
    color: $white;
    filter: contrast(200%)
}
.hwu h2{
    font-size: 20px;
    width: 60%;
}

a .absolute-button{
    position: absolute;
    left: 45%;
    width: 200px;
    padding: 20px;
    text-align: center;
    top:50%;
    z-index: 35;
    background: $base-color;
    border: none;
}
.card-body-content.card-body{
    padding: 15px;
}

a .absolute-button:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.90);
    background: #5F3518;
}


.slide-container, .t-slide { 
position: relative;
  z-index: 0;
  list-style: none;
}


.t-slide li { 
  position: absolute;
  background: $white;
  width: 60%;
  left:20%;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 40s linear infinite; 
}
.slide-container li { 
  position: absolute;
  background: #000;
  width: 100%;
  left:0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  top: 0;
  height: 100%;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 40s linear infinite; 
}

// Biz slide
.slide-container li:nth-child(1) { 
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('../../assets/img/landing1.jpg') 
}
.slide-container li:nth-child(2) { 
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('../../assets/img/landing2.jpg');
  animation-delay: 15s; 
}
.slide-container li:nth-child(3) { 
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('../../assets/img/landing3.jpg');
  animation-delay: 30s; 
}

// testimonial slide
.t-slide li:nth-child(1) { 
  // background-image: url('../../assets/img/testimonial.jpg') 
}
.t-slide li:nth-child(2) { 
  // background-image: url('../../assets/img/testimonial.jpg');
  animation-delay: 15s; 
}
.t-slide li:nth-child(3) { 
  // background-image: url('../../assets/img/testimonial.jpg');
  animation-delay: 30s; 
}


@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  20% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  40% {
    opacity: 1
  }
  60% {
    opacity: 0
  }
}

/* Older browser support - class added by modernizr */
.no-cssanimations .t-slide li {
	opacity: 1;
}
.footer-wrapper{
    display: block;
    position: absolute;
    width: 100%;
    bottom: -165%;
    z-index: 100;
}

@media screen and (min-width: 768px) {
    .about-us, .howitworks, .testimonial{
        display: flex;
    }
    .hiw {
        flex: 1;
       
    }
    .iconsHolder{
        height: 300px;
        top: 92%;
    }
    .hiw-card .card-body{
        padding: 0;
        
    }
    .about-us, .howitworks, .testimonial{
   
        background: $white;
        width: 80%;
        position: relative;
        left: 10%;
    }
    .testimonial{
        margin: 20px;
    }

    .about-us, .howitworks {
        padding: 40px;
    }

    .hiw .test-card-img{
        border-radius: 50%;
        height: 250px;
        width: 50%;
        margin: 0 auto;
    }
    .hiw .hiw-card-img{
        border-radius: 0;
        height: 324px;
    }
    .hwu{
        width: 40%;
        top: 25%;
    }
    .slide-container .carousel-inner .carousel-item img{
        height: 90vh;
        
    }
    a .absolute-button{
        top:55%;
    }
    .desc-container{
        top: 105%;
    }
    .icons{
        font-size: 40px;
        padding: 0;
    }
    img.info{
        padding: 10px;

    }
    .icons Span{
        font-size: 18px;
    }
    .hwu h2{
        font-size: 40px;
    }
    .hwu h4{
        font-size: 25px;
    }
    
}